body {
    margin: 0;
    padding: 0;
}

.food1,
.food2,
.food3 {
    border: 4px solid black;
    background-color: grey;
    width: 32%;
    float: left;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
}

.food1,
.food2 {
    margin-right: 15px;
}

.food1 {
    margin-left: 10px;
}

.chicken,
.beef,
.sushi {
    position: absolute;
    border: 1px solid black;
    text-align: center;
    width: 76px;
    background-color: white;
    right: 0px;
    top: 0px;
    /* margin-bottom: 5px; */
}

h1 {
    text-align: center;
}

@media (min-width:768px) and (max-width:999px) {
    .food1,
    .food2 {
        width: 47%;
        margin-bottom: 15px;
    }
    .food3 {
        width: 96%;
        margin-left: 11px;
    }
}

@media (max-width:767px) {
    .food1,
    .food2,
    .food3 {
        width: 95%;
        margin-bottom: 15px;
    }
    .food2,
    .food3 {
        margin-left: 11px;
    }
}